body {
    background-color: #f2f2f2;
    font-family: "Open Sans";
}

h1 {
    /* Make Beautiful */
    color: black;
    font-size: 3em;
    font-weight: bold;
    background-color: rgb(50, 250, 150);
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
    margin: 50px auto;
    width: 20cm;
}

.tablestyle {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-collapse: collapse;
    width: 15cm;
}

.tablehead {
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid black;
    font-family: 'Open Sans';
    background-color: rgb(50, 250, 150);
    text-align: center;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 80px;
    width: 20cm;
}

tbody tr td {
    border: 1px solid rgb(146, 146, 146);
    border-radius: 50px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 80px;

}

img {
    border-radius: 15%;
    padding: 10px;
    width: 100px;
    height: 70px;
}

img:hover {
    transition: transform .1s;
    zoom: 1;
    transform: scale(1);
    transform: scale(1.5);
}